/* Reset styles */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
/*when any link to content on page is clicked transition is smooth*/
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

/*centers top level */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/*set color and format header*/
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/* font size to 32px */
.header h1 {
    font-size: 2rem;
}
/*no marker shown in list*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*display list inline */
.navbar ul li {
    display: inline;
    margin-right: 20px;
}
/*color links*/
.navbar ul li a {
    text-decoration: none;
    color: #fff;
}
/*when hovering change color of links*/
.navbar ul li a:hover {
    color: #ccc;
}
/*format sectoins and hover transition*/
.section {
    margin-top: 40px;
    padding: 20px;
    background-color: #fa5e5e;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
/*hover will change background*/
.section:hover {
    background-color: #ddd;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}
/* center Makes the image round */
.profile-picture img {
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 20px; 
}
